@model IEnumerable<TutesWebApp.Models.Topics>

@{
    ViewData["Title"] = "Index";
}

<h1>View Topic Details</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TopicName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tutorial)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TopicName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tutorial.TutorialTitle)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.TopicID">Edit Topic Details</a> |
                <a class="btn btn-primary"  asp-action="Details" asp-route-id="@item.TopicID">View Details</a> |
                <a class="btn btn-primary"  asp-action="Delete" asp-route-id="@item.TopicID">Delete Topic</a>
            </td>
        </tr>
}
    </tbody>
</table>
